spring:
  application:
    name: taskflow
  datasource:
    url: jdbc:h2:mem:taskflow_db
    username: sa
    password:
    driver-class-name: org.h2.Driver
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect

server:
  port: 8080

logging:
  level:
    root: INFO
    com.taskflow: DEBUG